$turquoise: #1abc9c;
$turquoise-dark: #16a085;

$green: #27ae60;
$green-light: #2ecc71;

$blue-light: #3498db;
$blue: #2980b9;

$purple-light: #9b59b6;
$purple: #8e44ad;

$stone-light: #34495e;
$stone: #2c3e50;

$yellow: #f1c40f;
$yellow-dark: #f39c12;

$orange: #e67e22;
$orange-muted: #d35400;

$red: #e74c3c;
$red-dark: #c0392b;

$white: #fff;
$gray-light: #ecf0f1;
$gray: #bdc3c7;
$gray-dark: #95a5a6;
$gray-darker: #7f8c8d;
$black: #333; // <- its all lies! Muhaahaha!

$spacing: 20px;
$spacing-half: $spacing/2;

$color-text: #555;

$mobile: 767px;
