body {
  text-align: center;
}

h1 {
  font-family: "bebas_neueregular", sans-serif;
  font-size: 10em;
}

h2 {
  font-family: "learning_curve_proregular", sans-serif;
  font-size: 4em;
}

h3 {
  font-family: "bebas_neueregular", sans-serif;
  font-size: 4em;
}

.font--pacifico {
  position: relative;
  font-family: "pacificoregular", sans-serif;
  font-size: 1.2em;
  margin: 0 -20px;
  top: 20px;
  line-height: 0;
}
