.box.box--mint
  .row
    .column.small-12
      %h1
        = @event.partner_one
        %span.font--pacifico &
        = @event.partner_two
.row
  .column.small-12
    %h3 Get married on
    %h2= @event.formatted_time

#location.inverted.paralax{ :style => "background-image: url('/assets/tmp/venue.jpg');" }
  .row
    .column.small-12
      %h2= @event.venue_name
