= simple_form_for [@event, Photo.new], html: { multipart: true } do |f|
  .visually--hidden
    = f.file_field :file, multiple: true, class: "js-uploader", data: { url: event_photos_path(@event, @photo) }
  %label{:for => "photo_file"}
    %span.button.button--light Upload your photos
  = f.button :submit, class: "js-hide"

.progress
  %span.meter
