%div{ng: { controller: "PhotoController" }}
  .js-justified__container
    .js-justified
      - if @event.photos.empty?
        %h4
          It looks like no photos have not been uploaded yet.
          %br
          Come back here later to view the gallery

      %a{href: "{{ photo.large }}", ng: { repeat: "photo in photos"}, data: { lightbox: "event" }}
        %img{ng: {src: "{{ photo.small }}"}}
